.vue-date-select-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99998;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.4);
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.vue-date-select-container * {
  box-sizing: inherit;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.vue-date-select-container .vm-dialog-content {
  pointer-events: none;
  z-index: 10;
  width: 80%;
  margin: 0px auto;
  min-width: 280px;
  max-width: 550px;
  background: #ffffff;
  padding: 10px 5px 0px;
  transition: all 0.3s;
  transform: scale(0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.vue-date-select-container .vm-dialog-content .vm-wheels {
  display: flex;
}
.vue-date-select-container .vm-dialog-content .vm-wheels .vm-wheel {
  position: relative;
  z-index: 2;
  width: 33.33%;
  height: 200px;
  text-align: center;
  margin: 0px 5px;
  overflow: hidden;
  pointer-events: auto;
  touch-action: none;
}
.vue-date-select-container .vm-dialog-content .vm-wheels .vm-wheel .vm-line {
  position: absolute;
  top: 50%;
  left: 0px;
  height: 40px;
  width: 100%;
  margin-top: -21px;
  border-top: 1px solid #4eccc4;
  border-bottom: 1px solid #4eccc4;
  pointer-events: none;
}
.vue-date-select-container .vm-dialog-content .vm-wheels .vm-wheel .vm-items-wrapper {
  overflow: hidden;
  pointer-events: auto;
  cursor: pointer;
}
.vue-date-select-container .vm-dialog-content .vm-wheels .vm-wheel .anim {
  transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.vue-date-select-container .vm-dialog-content .vm-option {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  color: #454545;
  transition: background 0.3s;
}
.vue-date-select-container .vm-dialog-content .vm-option.color-bg {
  background: rgba(78, 204, 196, 0.2);
}
.vue-date-select-container .vm-dialog-content .vm-btns {
  text-align: right;
  padding: 5px 15px 10px 0px;
}
.vue-date-select-container .vm-dialog-content .vm-btns .vm-btn {
  display: inline-block;
  color: #4eccc4;
  font-size: 16px;
  cursor: pointer;
  padding: 7px 13px;
  pointer-events: auto;
  margin-left: 5px;
  transition: background 0.3s;
}
.vue-date-select-container .vm-dialog-content .vm-btns .vm-btn:hover {
  background: rgba(78, 204, 196, 0.2);
}
.vue-date-select-container .vm-dialog-content .vm-btns .vm-btn.color-btn {
  background: rgba(78, 204, 196, 0.2);
}
.vue-date-select-container.vm-date-show {
  opacity: 1;
  visibility: visible;
}
.vue-date-select-container.vm-date-show .vm-dialog-content {
  transform: scale(1);
  opacity: 1;
}
